{% extends "shorten/base.html" %}


{% block title %}
    {{ block.super }} home
{% endblock title %}


{% block content %}
<div class="container-pod">
    <h1 class="page-title">optimise, customize and analyse your url</h1>
    <div class="mid-container">
        <form method="POST" action="." class="form">
            <fieldset>
                {% csrf_token %}

                <div class="input-group">
                    {{ form.url}}
                    <div class="input-group-prepend">
                        <input class="input-group-text" type="submit" value="shorten">
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
{% endblock content %}}
