body {
    font-size: 18px;
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: rgb(243, 181, 25);
    color: white;
}

::before ::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header {
    padding-bottom: 457px;
    margin-bottom: -457px;
    position: relative;
    background: url(https://d1ayxb9ooonjts.cloudfront.net/7607bc8563ac28b8631dbc5867d672ee.jpg) center no-repeat;
    background-size: cover;
    color: white;
    z-index: 1000;
    overflow: hidden;

}

header nav {
    background: #01579B;
    box-shadow: 0px 0px 9px 2px black;

}
nav img {
    position: absolute;
    top: 50%;
    bottom: 10%;
    box-shadow: 3px 3px 5px 1px black;

}

@media only screen and (max-width: 992px) {
    nav img {
        position: relative;
        top: inherit;
        bottom: inherit;
    }
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}


.main-form {
    position: relative;
    border-top: 0;
    z-index: 10001;
    top: 10%;
    bottom: 0;
    margin-top: 2rem;
}

.container-pod {
    margin-top: 28px;
    margin:  0 auto;
    max-width: 960px;
    width: 100%;
    padding: 2.5rem 1rem;
    color: white;
}

.container-pod h1 {
    text-align: center;
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 59px;
    line-height: 80px;
}

@media only screen and (max-width: 992px ) {
    .container-pod h1 {
        font-size: 55px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 768px ) {
    .container-pod h1 {
        font-size: 35px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 576px ) {
    .container-pod h1 {
        font-size: 25px;
        line-height: 50px;
    }
}


fieldset {
    border: 0;
    margin: 0;
    position: relative;
}

.form {
    margin: 2rem 1rem;
}

.form input {
    line-height: 3rem;
    font-size: 20px;
    border: 0;
    box-shadow: #039BE5;
}

.form input[type="text"] {
    color: #333;
}

.form input[type='submit'] {
    background: #039BE5;
    color: white;
    border: 0;
    border-top-right-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
    transition: all 0.5s;
    padding: 10px 50px;
    box-shadow: 0 0 0 4px blue;
}

.form input[type='submit']:hover {
    background: rgb(17, 170, 246);
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 992px ) {

}

@media only screen and (max-width: 768px ) {
    .form {
        margin: 1.5rem 0.8rem;
    }

    .form input[type='submit'] {
        padding: 8px 20px;
    }
}

@media only screen and (max-width: 576px ) {

    .form input[type='submit'] {
        padding: 4px 8px;
        box-shadow: #039BE5;
        font-size: 15px;

    }

    .form input[type="text"] {
        box-shadow: #039BE5;

    }

    .form input {
        font-size: 10px;
        line-height: 2rem;
    }

    header {
        padding-bottom: 320px;
        margin-bottom: -320px;
    }
}


.content1 {
    margin-top: 120px;
    margin-bottom: 120px;
    position: relative;
    text-align: center;
}

.content1 h3{
    padding-top:0.2rem ;
    color: rgba(43, 36, 36, 0.63);
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 17px;
    font-weight: 700;
}

.content1 p{
    padding-top:0.2rem;
    color: rgba(165, 160, 160, 0.746);
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: 300;
    font-size: 13px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

}


@media only screen and (max-width: 768px ) {
    .content1 {
        margin-top: 150px;
    }
}
@media only screen and (max-width: 576px ) {
    .content1 {
        margin-top: 20px;
    }
}

.material-icon {
    display: inline-block;
    color: goldenrod;
    font-size: 50px !important;
    font-stretch: 50px;
}

footer div {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    height: 100%;
    padding: 1.5rem;
}

.material-icon-git {
    display: inline-block;
    color: rgb(26, 20, 20);
    font-size: 30px !important;
    font-stretch: 30px;
}
